doctype html
html
    head
        title= i18n('page_title')
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
    body
        script(src="/twbs.bundle.js")
        script(src="/fa.bundle.js")
        script(src="/index.bundle.js")

        nav.navbar.navbar-toggleable-md.sticky-top.navbar-light.bg-faded
            .container
                button.navbar-toggler.navbar-toggler-right(type="button" data-toggle="collapse" data-target="#navbarText"
                    aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation")
                    span.navbar-toggler-icon
                a.navbar-brand(href="javascript:void(0)") ARPEN
                #navbarText.collapse.navbar-collapse
                    ul.navbar-nav.mr-auto
                        li.nav-item.active
                            a.nav-link(href="/") Home
                        li.nav-item
                            a.nav-link(href="/test") Test

        block content
