@import '~bootstrap/scss/_variables';
@import '~bootstrap/scss/mixins/_breakpoints';

@include media-breakpoint-down(sm) {
  .navbar .container {
    margin-left: 0;
    margin-right: 0;
  }
}

.control-required {
  display: block;
  color: $brand-danger;
  font-size: xx-small;
  text-transform: uppercase;
}